In [3]:
import pandas as pd
from sqlalchemy import create_engine
import requests

In [4]:
accidents_file = "Resources/US_Accidents_Dec19.csv"
accidents_df = pd.read_csv(accidents_file)
accidents_df.head(10)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
5,A-6,MapQuest,201.0,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
6,A-7,MapQuest,201.0,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
7,A-8,MapQuest,201.0,3,2016-02-08 07:59:58,2016-02-08 08:29:58,39.770382,-84.194901,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
8,A-9,MapQuest,201.0,2,2016-02-08 08:00:40,2016-02-08 08:30:40,39.778061,-84.172005,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
9,A-10,MapQuest,201.0,3,2016-02-08 08:10:04,2016-02-08 08:40:04,40.100590,-82.925194,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [5]:
Start_Time ='2017-01-01'
End_Time = '2017-12-31'

after_start_date = accidents_df["Start_Time"] >= Start_Time
before_end_date = accidents_df["End_Time"] <= End_Time
between_two_dates = after_start_date & before_end_date
filtered_dates = accidents_df.loc[between_two_dates]

filtered_dates.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
9206,A-9207,MapQuest,201.0,3,2017-01-01 00:17:36,2017-01-01 00:47:12,37.925392,-122.320595,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Night,Night
9207,A-9208,MapQuest,201.0,3,2017-01-01 00:26:08,2017-01-01 01:16:06,37.878185,-122.307175,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
9208,A-9209,MapQuest,201.0,2,2017-01-01 00:53:41,2017-01-01 01:22:35,38.014820,-121.640579,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
9209,A-9210,MapQuest,241.0,3,2017-01-01 01:18:51,2017-01-01 01:48:01,37.912056,-122.323982,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
9210,A-9211,MapQuest,222.0,3,2017-01-01 01:20:12,2017-01-01 01:49:47,37.925392,-122.320595,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Night,Night

In [6]:
accidents =['ID','Severity', 'Description', 'Street', 'Side', 'City',
           'County', 'State', 'Zipcode','Country','Timezone', 'Weather_Condition', 
            'Sunrise_Sunset', 'Start_Time', 'End_Time']

accidents_transformed= filtered_dates[accidents]
#accidents_transformed.drop_duplicates("ID", inplace=True)

accidents_transformed.head()

,ID,Severity,Description,Street,Side,City,County,State,Zipcode,Country,Timezone,Weather_Condition,Sunrise_Sunset,Start_Time,End_Time
9206,A-9207,3,Accident on I-80 Westbound at Exit 15 Cutting ...,I-80 E,R,El Cerrito,Contra Costa,CA,94530,US,US/Pacific,Partly Cloudy,Night,2017-01-01 00:17:36,2017-01-01 00:47:12
9207,A-9208,3,Accident on I-580 Southbound at Exit 12 I-80 I...,I-580 W,R,Berkeley,Alameda,CA,94710,US,US/Pacific,Overcast,Night,2017-01-01 00:26:08,2017-01-01 01:16:06
9208,A-9209,2,Accident on Taylor Rd Southbound at Bethel Isl...,Taylor Ln,R,Oakley,Contra Costa,CA,94561,US,US/Pacific,Partly Cloudy,Night,2017-01-01 00:53:41,2017-01-01 01:22:35
9209,A-9210,3,Lane blocked and queueing traffic due to accid...,Bayview Ave,R,Richmond,Contra Costa,CA,94804,US,US/Pacific,Mostly Cloudy,Night,2017-01-01 01:18:51,2017-01-01 01:48:01
9210,A-9211,3,Queueing traffic due to accident on I-80 Westb...,I-80 E,R,El Cerrito,Contra Costa,CA,94530,US,US/Pacific,Mostly Cloudy,Night,2017-01-01 01:20:12,2017-01-01 01:49:47

In [7]:
accidents_transformed.to_csv("accidents_transformed.csv")

In [8]:
accidents_transformed = pd.read_csv("accidents_transformed.csv")

In [10]:
from config import password
connection_string = f"postgres:{password}@localhost:5432/ETL_projects_db"
engine = create_engine(f'postgresql://{connection_string}')

In [11]:
engine.table_names()

['accidents']

In [12]:
accidents_transformed.to_sql(name='accidents', con=engine, if_exists='append', index=True)